{% extends "base.html" %}

{% block page_content %}
    <h1>Statistics</h1>

    <div class="container col-md-6">
        <table class ="table table-bordered table-hover" name='stats' border="1" >
            {% for row in table %}
                <tr>
                    {% for d in row %}
                        <td>{{ d }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
<div class="container col-md-12">
    <em>Database being used for reporting: {{sysUserName}}:{{ dbName }}, hosted on {{ host }}</em>
</div>
<div class="container">
{% if errorMessage %}
    <h3><em><b>{{ errorMessage }}</b></em></h3>
{% endif %}
</div>
{% endblock %}