{% extends "base.html" %}

{% block content %}
<div class="container">
        <body>

        <h3>State Volume</h3>
        <h6>S&E's Technology Superstore State with Highest Volume for Each Category</h6>
        <p>Select a month/year below, then click the "Generate Report" button.
    <form method="POST">

    <select class = "form-control" name = "selected_month_year" >
        {% for m_y in month_years %}
            <option value= "{{m_y[0]}}">{{m_y[0]}}</option>"
        {% endfor %}

   </select>
        <p></p>
        <button class = "btn btn-default" type="submit" value="Generate">Generate</button>
    </form>

        <p></p>

         <table class = "table table-bordered table-hover" name = 'storesInState' border="1" cellpadding="5" cellspacing="5">
             <thead class="thead-light">
              <tr>
                <th> Category </th>
                <th> State </th>
                <th> Units </th>
              </tr>
             </thead>
        {% for row in state_vol %}
            <tr>

            {% for d in row %}
                    {%if loop.index == 2%}
                        <td><a href="/store_details?state={{ d }}&category={{row[0]}}&units={{row[2]}}">{{ d }}</a></td>
                    {% else %}
                        <td>{{ d }}</td>
                    {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>









    </body>
</div>
{% endblock %}
